.contact {
  &__contact-information {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding-top: 4rem;
  }

  &__get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      margin-bottom: 3rem;
    }
  }

  &__form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__contact-form-group {
    margin: 2rem;
    position: relative;

    &__floating-label {
      font-size: 13px;
      color: #cccccc;
      position: absolute;
      pointer-events: none;
      top: 9px;
      left: 12px;
      transition: all 0.1s ease;
    }
    &--input:focus ~ &__floating-label,
    &--input:not(:focus):valid ~ &__floating-label {
      top: -1.5rem;
      bottom: 0;
      left: 0;
      font-size: 1.5rem;
      opacity: 1;
      color: #fff;
    }

    input[type="text"] {
      width: 100%;
      height: 5rem;
      margin-top: 1rem;
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 2rem;
    }

    input[type="textarea"] {
      width: 100%;
      height: 10rem;
      margin-top: 1rem;
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 2rem;
      text-align: inherit;
    }
  }
}
