.accordion {
  display: grid;
  grid-template-rows: 25rem repeat(4, min-content);
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: start;
  text-align: center;

  &__static {
    align-self: center;
  }

  .accordion-item {
    padding: 5rem 50rem 3rem 50rem;
    position: relative;
    &--1 {
      background-color: var(--color-secondary);
    }

    &--2 {
      background-color: var(--color-tertiary);
    }

    &--3 {
      background-color: var(--color-primary);
    }

    &--4 {
      background-color: var(--color-quinary);
    }

    &__content {
      opacity: 1;
      &:active {
        opacity: 0;
      }
    }

    &__icon-box {
      margin-top: 4rem;
    }

    &__icon {
      fill: #fadbf6;
    }
  }

}
