.btn {
  background: linear-gradient(45deg, #4ba9ff 30%, #f84b9b 90%);
  border: 0;
  border-radius: 100px;
  box-shadow: inset 0 3px 5px 2px rgba(255, 105, 135, .3);
  color: #eee;
  padding: 8px 30px;
  text-transform: uppercase;
  transition: all .4s;

  &:hover {
    transform: scale(1.05);
    box-shadow: inset 0 32px 59px 22px rgba(#4ba9ff, .2);
  }
}
