@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 1rem 1rem rgba(#000, .1);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes raiseCircleBg {
  0% {
    bottom: -10rem;
  }
  100% {
    bottom: 70%;
    opacity: 0;
  }
}