body {
  @include font-selector(var(--font-body), 400, 1.6rem);
  color: #fadbf6;
}

.heading {
  @include font-selector(var(--font-heading), 400, 6rem);

  &--semi-bold {
    font-weight: 600;
  }
  &--bold {
    font-weight: 700;
  }

}

.heading-2 {
  @include font-selector(var(--font-heading), 400, 4rem);
  text-transform: uppercase;
  letter-spacing: .7rem;
}

.heading-3 {
  @include font-selector(var(--font-heading), 700, 3rem);
  text-transform: capitalize;
  letter-spacing: .5rem;
}

.heading-4 {
  @include font-selector(var(--font-heading), 400, 2.4rem);
  text-transform: capitalize;
  letter-spacing: .2rem;
}

.heading-6 {
  @include font-selector(var(--font-heading), 400, 1.8rem);
  text-transform: capitalize;
  letter-spacing: .2rem;
}


.paragraph {
  @include font-selector(var(--font-body), 400, 1.6rem);
  line-height: 3rem;

  &--bold {
    font-weight: 700;
  }
}

.btn {
  @include font-selector(var(--font-heading), 400, 2.4rem);
}