.home-container {
  display: grid;
  grid-template-rows: calc(100vh - 6rem);
  grid-template-columns: 1fr;
}

.body-theme {
  background: transparent
    linear-gradient(
      165deg,
      #250022 0%,
      #250022 20%,
      #f84b9b 37%,
      #a581dd 51%,
      #6588e2 63%,
      #2b6ba7 72%,
      #250022 82%,
      #250022 100%
    )
    0% 0% no-repeat padding-box;
}

.nav {
  height: 6rem;
  background-color: chocolate;
}

.hero {
}

.process {
  height: 100%;
  min-width: 100%;
  background-color: var(--color-quaternary);
}

.craft-academy {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 6rem;
  background-color: var(--color-senary);
  padding: 8rem 0;
}

.clients {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 6rem;
  background-image: url(../public/assets/images/BgClients_1.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem 0;
}

.tech {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--color-background);
  min-height: 6rem;
  padding: 8rem 0;
}

.about {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 6rem;
  padding: 8rem 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.footer {
  height: 6rem;
  background-color: yellow;
}
