.home-container {
  display: grid;
  grid-template-rows: calc(100vh - 6rem);
  grid-template-columns: 1fr;

}

.nav {
  height: 6rem;
  background-color: chocolate;
}

.hero {
 
}

.process {
  height: 100%;
  min-width: 100%;
  background-color: var(--color-quaternary);
}

.craft-academy {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 6rem;
  background-color: var(--color-senary);
  padding: 8rem 0;
}

.clients {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 6rem;
  background-image: url(../public/assets/images/BgClients_1.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem 0;
}

.tech {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--color-background);
  min-height: 6rem;
  padding: 8rem 0;
}

.about {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--color-background);
  min-height: 6rem;
  padding: 8rem 0;
}

.contact {
  height: 6rem;
  background-color: pink;
}

// .footer {
//   display: grid;
//   grid-template-rows: auto;
//   grid-template-columns: 1fr;
//   justify-items: center;
//   background-color: var(--color-background);
//   min-height: 6rem;
//   padding: 8rem 0;
// }