.home-container {
  display: grid;
  grid-template-rows: calc(100vh - 6rem);
  grid-template-columns: 1fr;

}

.nav {
  height: 6rem;
  background-color: chocolate;
}

.hero {
 
}

.process {
  height: 6rem;
  background-color: green;
}

.craft-academy {
  height: 6rem;
  background-color: red;
}

.clients {
  height: 6rem;
  background-color: blue;
}

.tech {
  height: 6rem;
  background-color: blueviolet;
}

.about {
  height: 6rem;
  background-color: orangered;
}

.contact {
  height: 6rem;
  background-color: pink;
}

.footer {
  height: 6rem;
  background-color: yellow;
}